body {
    background-color: #808080;
}

h1 {
    color: #fff;
}

/* zad 22 */
.div-cls {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: #fea500;
    margin: 10px;
}

.zadTekst {
    color: blue;
    text-align: center;
}

.zadTekst-para {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5;
}

.span-cls {
    color: #ff0000;
}

/* Zad 23 */
#zad23 {
    background-color: #faebd6;
}

.zad23-header {
    padding: 20px;
    color: #ff0000;
}

.p-23-1 {
    color: #a42423;
}

.p-23-2 {
    color: #00008f;
}

.p-23-1,
.p-23-2 {
    padding: 20px;
    font-size: 20px;
}

/* Zad 24 */
#container-qwo {
    width: 50%;
    height: auto;
}

#cointainer-qwo {
    margin: 0 auto;
    padding: 20px;
    width: 220px;
    height: auto;
    background-color: #f5f5dd;
}

.qw-cls {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin: 10px;
}

#qw1 {
    background-color: rgb(0, 0, 0, 1);
}

#qw2 {
    background-color: rgb(0, 0, 0, 0.8);
}

#qw3 {
    background-color: rgb(0, 0, 0, 0.5);
}

#qw4 {
    background-color: rgb(0, 0, 0, 0.2);
}